.btn {
    display: inline-block;
    text-decoration: none;
    height: 42px;
    line-height: 40px;
    padding: 0 18px;
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255, 0.2);
    text-shadow: 0 1px 2px rgb(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgb(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.2s;
    font-weight: 600;
}
.btn:hover {
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
}
.btn:active {
    transform: scale(0.94);
}
.btn-block {
    display: block;
    width: 100%;
    text-align: center;
}
.btn-disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}
.btn-sm {
    height: 38px;
    line-height: 30px;
    font-size: 15px;
}
.flex-container .btn-sm {
    line-height: 36px;
}
.btn-xs {
    height: 34px;
    line-height: 26px;
    font-size: 13px;
    padding: 0 15px;
}
.flex-container .btn-xs {
    line-height: 30px;
}

.btn-like {
    color: #818181;
    padding: 0 !important;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 2px;
}
.btn-like i {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    height: 26px;
    width: 26px;
    margin: 0;
    padding: 0;
    border-radius: 9999px;
}
.btn-like:hover {
    color: #e91e63;
}
.btn-like:hover i {
    background: rgb(233, 30, 99, 0.1) !important;
    color: #e91e63;
}
.btn-like.active {
    color: #e91e63;
}
.btn-like.active i {
    font-weight: 800;
}

.btn-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    color: #818181;
    border-radius: 9999px;
    transition: all 0.2s;
}
.btn-circle:hover {
    background: rgb(255, 255, 255, 0.06);
    color: #818181;
}
.btn-circle:active {
    transform: scale(0.94);
    background: rgb(255, 255, 255, 0.1);
    color: #818181;
}

.btn.btn-circle {
    height: 38px;
}

.btn-success {
    background: #43a047;
    color: #ffffff !important;
}
.btn-success:hover {
    background: #4caf50;
}
.btn-success:active {
    background: #66bb6a;
}
.btn-danger {
    background: #d32f2f;
    color: #ffffff !important;
}
.btn-danger:hover {
    background: #e53935;
}
.btn-danger:active {
    background: #f44336;
}
.btn-warning {
    background: #fe9c25;
    color: #ffffff !important;
}
.btn-warning:hover {
    background: #fea538;
}
.btn-warning:active {
    background: #ffaa43;
}
.btn-info {
    background: #0277bd;
    color: #ffffff !important;
}
.btn-info:hover {
    background: #0288d1;
}
.btn-info:active {
    background: #039be5;
}
.btn-secondary {
    background: #5d5d5d;
    color: #ffffff !important;
}
.btn-secondary:hover {
    background: #6d6d6d;
}
.btn-secondary:active {
    background: #737373;
}
.btn-gray {
    background: rgb(255, 255, 255, 0.04);
    color: #bdbdbd !important;
}
.btn-gray:hover {
    background: rgb(255, 255, 255, 0.06);
}
.btn-gray:active {
    background: rgb(255, 255, 255, 0.08);
}
.btn-discord {
    background: #5865f2;
    color: #ffffff;
}
.btn-discord:hover {
    background: #6873f0;
}
.btn-discord:active {
    background: #6e78e7;
}
.btn-upgrade {
    background: #9c27b0;
    color: #ffffff !important;
}
.btn-upgrade:hover {
    background: #ab47bc;
}
.btn-upgrade:active {
    background: #b455c5;
}

button {
    margin: 0;
    padding: 0;
    appearance: none;
    border: none;
    background: transparent;
    cursor: pointer;
}